div class="flex h-[calc(100vh-250px)] items-center justify-center"
  div
    h1.mb-4.text-center.text-5xl -- 404
    h2.text-2xl -- Can&apos;t find what you are searching for
    h1.text-center
      a.text-center.text-xl.text-blue-400 href="/" -- Go back home
