@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    min-height: 100vh !important;
    /* background: rgb(31, 41, 55); */
    /* background: linear-gradient(180deg, rgba(31, 41, 55, 1) 0%, rgba(17, 24, 39, 1) 100%); */
}
textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
}
textarea:focus {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
}
:root {
    min-height: 100vh !important;

}

.readme {
    padding: 50px !important;
}

.readmeDiv > table {
    display: block;
    overflow-x: auto;
    white-space: nowrap; /* Prevents the table from wrapping */
}

@media screen and (min-width: 400px) {
    .readme {
        padding: 0px !important;
    }
}

.readmeDiv {
    all: unset !important;
    font-weight: 700;
    overflow-x: scroll;
}

.readmeDiv > h1 {
    font-size: 40px;
}

.readmeDiv > h2 {
    font-size: 35px;
}

.readmeDiv > h3 {
    font-size: 30px;
}

.readmeDiv > pre {
    padding: 20px !important;
    overflow-x: scroll;
    color: yellow;
    border-radius: 10px !important;
    border: solid #373f49 2px;
    background-color: #2a3038;
}
.readmeDiv > * > pre {
    padding: 20px !important;
    overflow-x: scroll;
    color: yellow;
    border-radius: 10px !important;
    border: solid #373f49 2px;
    background-color: #2a3038;
}

.readmeDiv > p {
    padding: 5px 5px 5px 0 !important;
}

.readmeDiv a {
    color: lightblue !important;
    text-decoration: underline !important;
    height: fit-content !important;
}

.readmeDiv > table,
th,
td {
    border: 1px solid white !important;
    padding: 5px !important;
}
