---
export const prerender = true;

import RootLayout from "../../layouts/main.astro";
---

<RootLayout>
  <div class="mt-5 sm:pl-10 pl-5">
    <div class="readme readmeDiv block">
      <center>
        <img
          src="https://raw.githubusercontent.com/Zigistry/Zilite/main/assets/logo.png"
          alt="Zilite Logo"
        />
      </center>

      <h2>Yet another code highlighter.</h2>

      <ul>
        <li>Uses no dependencies.</li>
        <li>You can contribute more programming languages.</li>
        <li>Is extremely small size.</li>
      </ul>

      <h2>How to use?</h2>
      <p>Just see the following example:</p>

      <h3>For basic HTML:</h3>

      <pre><code class="language-html">
&lt;!DOCTYPE html&gt;

&lt;html&gt;

&lt;head&gt;
    &lt;link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/zilite@0.0.25/src/styles/darkMode.css" /&gt;
&lt;/head&gt;

&lt;body&gt;
    &lt;div class="language-zig nice-code-block"&gt;
        const zilite:[]const u8 = "Syntax Highlighter";
    &lt;/div&gt;
    &lt;script type="module"&gt;
        import &lcub; highlightElements &rcub; from "https://cdn.jsdelivr.net/npm/zilite@0.0.25";
        import &lcub;zig &rcub; from "https://cdn.jsdelivr.net/npm/zilite@0.0.25/src/language/zig.js";
        highlightElements(zig, "language-zig");
    &lt;/script&gt;
&lt;/body&gt;

&lt;/html&gt;
    </code></pre>

      <h3>For use as a node module:</h3>

      <pre><code class="language-bash">
npm i zilite
    </code></pre>
    <p>&nbsp;&nbsp;And then use it in a file like index.html:</p>
      <pre><code class="language-javascript">
import * as hl from "higherlight";
import &lcub; zig &rcub; from "higherlight/src/language/zig";

const highlightedCode = hl.highlight(zig, "const x = 'asdf';");
console.log(highlightedCode);
    </code></pre>

      <p>
        Understood? Or still confused? Create a new issue here and clear your doubts.
      </p>

      <h2>Contributing:</h2>

      <p>Please ⭐️ this repo, create pull requests, issues, etc.</p>
    </div>
  </div>
</RootLayout>
