---

export const prerender = true;

import RootLayout from "../layouts/main.astro";
import { BsFillLightningChargeFill } from "react-icons/bs";
---

<RootLayout>
  <div
  class="flex items-center justify-center"
    style={{ height: "calc(100vh - 122px)" }}
  >
    <div>
      <span
        class="flex self-center whitespace-nowrap text-5xl font-extrabold italic dark:text-white"
      >
        <span class="flex text-yellow-300">
          <BsFillLightningChargeFill />
          Zig
        </span>
        istry
      </span>
      <h2 class="mt-2 text-2xl italic">
        A place where you can find all the libraries and programs that suit your
        Zig lang needs.
      </h2>
      <h3 class="text-right text-2xl italic">- Rohan Vashisht</h3>
    </div>
  </div>
</RootLayout>
