---
import RootLayout from "../layouts/main.astro";
---

<RootLayout>
  <div class="readme p-10 sm:p-5">
    <div class="readmeDiv">
      <h1>Zigistry&apos;s API</h1>
      You can now start using Zigistry&apos;s api as follows:
      <h3>For Packages:</h3>
      <strong>Get details for individual packages</strong>
      <br />
    </div>
    <a href="https://zigistry.dev/api/packages/travisstaloch/simdjzon">
      https://zigistry.dev/api/packages/travisstaloch/simdjzon
    </a>
    <br />
  </div>
  <strong>Get Search results:</strong>
  <br />
  <a href="https://zigistry.dev/api/search?q=Zap">
    https://zigistry.dev/api/search?q=Zap
  </a>
  <br />
  <strong>Get Filtered results:</strong>
  <br />
  <a href="https://zigistry.dev/api/search?q=Zap&filter=http">
    https://zigistry.dev/api/search?q=Zap&filter=http
  </a>
  <br />
  <strong>Get all results from a single topic:</strong>
  <br />
  <a href="https://zigistry.dev/api/search?filter=http">
    https://zigistry.dev/api/search?filter=http
  </a>
  <br />
  <h3>For Programs:</h3>
  <strong>Get details for individual programs</strong>
  <br />
  <a
    href="https://zigistry.dev/api/programs/travisstaloch/roc-cli-platform-zig"
  >
    https://zigistry.dev/api/programs/travisstaloch/roc-cli-platform-zig
  </a>
  <br />
  <strong>Get Search results:</strong>
  <br />
  <a href="https://zigistry.dev/api/searchPrograms?q=Zap">
    https://zigistry.dev/api/searchPrograms?q=Zap
  </a>
  <br />
  <strong>Get Filtered results:</strong>
  <br />
  <a href="https://zigistry.dev/api/searchPrograms?q=Zap&filter=http">
    https://zigistry.dev/api/searchPrograms?q=Zap&filter=http
  </a>
  <br />
  <strong>Get all results from a single topic:</strong>
  <br />
  <a href="https://zigistry.dev/api/searchPrograms?filter=http">
    https://zigistry.dev/api/searchPrograms?filter=http
  </a>
  <br />
  <h3>For Special Index details (Packages):</h3>
  <strong>Get most used packages (Ascending order):</strong>
  <br />
  <a href="http://zigistry.dev/api/indexDetails?section=mostUsed&range=0..100">
    http://zigistry.dev/api/indexDetails?section=mostUsed&range=0..100
  </a>
  <br />
  <strong>Get latest used packages (Ascending order):</strong>
  <br />
  <a
    href="http://zigistry.dev/api/indexDetails?section=latestRepos&range=0..100"
  >
    http://zigistry.dev/api/indexDetails?section=latestRepos&range=0..100
  </a>
  <br />
  <h3>For Special Index details (Programs):</h3>
  <strong>Get most used programs (Ascending order):</strong>
  <br />
  <a
    href="http://zigistry.dev/api/indexDetailsPrograms?section=mostUsed&range=0..100"
  >
    http://zigistry.dev/api/indexDetailsPrograms?section=mostUsed&range=0..100
  </a>
  <br />
  <strong>Get latest used programs (Ascending order):</strong>
  <br />
  <a
    href="http://zigistry.dev/api/indexDetailsPrograms?section=latestRepos&range=0..100"
  >
    http://zigistry.dev/api/indexDetailsPrograms?section=latestRepos&range=0..100
  </a>
  <br />
  Obviously, a lot of things need to be added to the api and I am currently working
  on it. But for now, this can be used for fetching basic stuff.
</RootLayout>
