---
export const prerender = true;

import RootLayout from "../layouts/main.astro";
---

<RootLayout>
  <div class="mt-5 pl-10 sm:pl-5">
    <div class="readme readmeDiv block">
      <h1>Zigistry&apos;s API</h1>
      <p class="my_special">
        You can now start using Zigistry&apos;s api as follows:
      </p>
      <h3>For Packages:</h3>
      <p class="my_special">Get details for individual packages:</p>
      <a
        class="api_section"
        href="https://zigistry.dev/api/packages/travisstaloch/simdjzon"
      >
        https://zigistry.dev/api/packages/travisstaloch/simdjzon
      </a>
      <br />
      <br />
      <p class="my_special">Get Search results:</p>
      <a class="api_section" href="https://zigistry.dev/api/search?q=Zap">
        https://zigistry.dev/api/search?q=Zap
      </a>
      <br />
      <br />
      <p class="my_special">Get Filtered results:</p>
      <a
        class="api_section"
        href="https://zigistry.dev/api/search?q=Zap&filter=http"
      >
        https://zigistry.dev/api/search?q=Zap&filter=http
      </a>
      <br />
      <br />
      <p class="my_special">Get all results from a single topic:</p>
      <a class="api_section" href="https://zigistry.dev/api/search?filter=http">
        https://zigistry.dev/api/search?filter=http
      </a>
      <br />
      <br />
      <h3>For Programs:</h3>
      <p class="my_special">Get details for individual programs</p>
      <a
        class="api_section"
        href="https://zigistry.dev/api/programs/travisstaloch/roc-cli-platform-zig"
      >
        https://zigistry.dev/api/programs/travisstaloch/roc-cli-platform-zig
      </a>
      <br />
      <br />
      <p class="my_special">Get Search results:</p>
      <a
        class="api_section"
        href="https://zigistry.dev/api/searchPrograms?q=Zap"
      >
        https://zigistry.dev/api/searchPrograms?q=Zap
      </a>
      <br />
      <br />
      <p class="my_special">Get Filtered results:</p>
      <a
        class="api_section"
        href="https://zigistry.dev/api/searchPrograms?q=Zap&filter=http"
      >
        https://zigistry.dev/api/searchPrograms?q=Zap&filter=http
      </a>
      <br />
      <br />
      <p class="my_special">Get all results from a single topic:</p>
      <a
        class="api_section"
        href="https://zigistry.dev/api/searchPrograms?filter=http"
      >
        https://zigistry.dev/api/searchPrograms?filter=http
      </a>
      <br />
      <br />
      <h3>For Special Index details (Packages):</h3>
      <p class="my_special">Get most used packages (Ascending order):</p>
      <a
        class="api_section"
        href="http://zigistry.dev/api/indexDetails?section=mostUsed&range=0..100"
      >
        http://zigistry.dev/api/indexDetails?section=mostUsed&range=0..100
      </a>
      <br />
      <br />
      <p class="my_special">Get latest used packages (Ascending order):</p>
      <a
        class="api_section"
        href="http://zigistry.dev/api/indexDetails?section=latestRepos&range=0..100"
      >
        http://zigistry.dev/api/indexDetails?section=latestRepos&range=0..100
      </a>
      <br />
      <br />
      <h3>For Special Index details (Programs):</h3>
      <p class="my_special">Get most used programs (Ascending order):</p>
      <a
        class="api_section"
        href="http://zigistry.dev/api/indexDetailsPrograms?section=mostUsed&range=0..100"
      >
        http://zigistry.dev/api/indexDetailsPrograms?section=mostUsed&range=0..100
      </a>
      <br />
      <br />
      <p class="my_special">Get latest used programs (Ascending order):</p>
      <a
        class="api_section"
        href="http://zigistry.dev/api/indexDetailsPrograms?section=latestRepos&range=0..100"
      >
        http://zigistry.dev/api/indexDetailsPrograms?section=latestRepos&range=0..100
      </a>
      <br />
      <br />
      Obviously, a lot of things need to be added to the api and I am currently working
      on it. But for now, this can be used for fetching basic stuff.
    </div>
  </div>
</RootLayout>
