---

export const prerender = true;

import { Button, Card } from "flowbite-react";
import RootLayout from "../layouts/main.astro";
import zilite from "../../public/zilite.png";
import Zon_to_json from "../../public/Zon-to-json.png";
import { Image } from "astro:assets";
---

<RootLayout>
  <div class="min-h-screen">
    <div class="flex w-full justify-center px-5 py-5">
      <div class="block">
        <h1 class="mb-2 text-4xl">Zigistry&apos;s Apps and Programs</h1>
        <p class="text-center">
          Use various apps and programs built by Zigistry.
        </p>
      </div>
    </div>
    <div class="flex flex-wrap space-x-5 px-5 py-5">
      <Card className="max-w-sm">
        <Image class="rounded" loading={"eager"} alt="asfd" src={zilite} />
        <h5
          class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          Zilite
        </h5>
        <p class="font-normal text-gray-700 dark:text-gray-400">
          A syntax highlighter for the web.
        </p>
        <Button href={"apps/zilite-highlighter"}>
          Read more
          <svg
            class="-mr-1 ml-2 h-4 w-4"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
          </svg>
        </Button>
      </Card>
      <Card className="max-w-sm">
        <Image class="rounded" loading={"eager"} alt="asfd" src={Zon_to_json} />
        <h5
          class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          Z2j
        </h5>
        <p class="font-normal text-gray-700 dark:text-gray-400">
          Convert Zon to json on the web.
        </p>
        <Button href={"apps/z2j-app"}>
          Use the app
          <svg
            class="-mr-1 ml-2 h-4 w-4"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
          </svg>
        </Button>
      </Card>
    </div>
  </div>
</RootLayout>
