---
import zigister_finds_repos from "../../public/zigister-finds-repos.svg";
import zigister_finds_programs from "../../public/zigister-finds-programs.svg";
import { Image } from "astro:assets";
import RootLayout from "../layouts/main.astro";
---

<RootLayout>
  <div class="readme">
    <div class="readmeDiv">
      <div class="flex w-full">
        <div>
          <h1 class="mb-4 pl-5 pt-5 text-3xl sm:text-5xl">
            How to add your Zig library to Zigistry?
          </h1>
          <div class="text-xl">
            <ol class="ml-10 sm:ml-16">
              <li>
                On the main page of your GitHub repository, click on the Cog
                wheel icon on the right of the screen
              </li>
              <li>You&apos;ll see a section named topics, click on it.</li>
              <li>
                Then in the text field type <strong>zig-package</strong>, press
                enter (or return) and click save changes.
              </li>
              <li>
                And congrats! your library will be added to zigistry! (zigistry
                will register your library in an hour).
              </li>
              <li>
                <video
                  controls
                  class="my-5 w-48 rounded-2xl sm:w-80"
                  src="https://github.com/RohanVashisht1234/zigistry/assets/81112205/962b147c-16ce-44d8-a958-57c0f0e1447b"
                  muted></video>
              </li>
              <li>
                Still facing issues or have suggestions? feel free to open an
                issue{" "}
                <a
                  class="text-blue-400 underline"
                  href="https://github.com/RohanVashisht1234/zigistry/issues"
                >
                  here</a
                >.
              </li>
            </ol>
          </div>
        </div>
        <div
          class="invisible w-full sm:invisible md:invisible lg:visible xl:visible"
        >
          <Image
            alt={"zigister finds repos"}
            class="w-full"
            loading={"eager"}
            src={zigister_finds_repos}
          />
        </div>
      </div>
      <br />
      <h1 class="mb-4 ml-5 text-3xl sm:text-5xl">
        How to add your Zig program to Zigistry?
      </h1>
      <div>
        <ol class="ml-10 sm:ml-16">
          <li>
            The same steps as above but this time the topic would be{" "}
            <strong>Zig</strong> and not Zig-package.
          </li>
        </ol>
      </div>
    </div>
  </div>
  <div class="w-full">
    <Image
      alt={"zigister finds programs"}
      class="w-full"
      loading={"eager"}
      src={zigister_finds_programs}
    />
  </div>
</RootLayout>
