---
import RootLayout from "../layouts/main.astro";
---

<RootLayout>
  <div class="readme p-10 sm:p-5">
    <div class="readmeDiv">
      <div class="flex">
        <div>
          <h1 class="mb-4 text-5xl">
            How to add your Zig library to Zigistry?
          </h1>
          <div class="text-xl">
            <ol>
              <li>
                On the main page of your GitHub repository, click on the Cog
                wheel icon on the right of the screen
              </li>
              <li>You&apos;ll see a section named topics, click on it.</li>
              <li>
                Then in the text field type <strong>zig-package</strong>, press
                enter (or return) and click save changes.
              </li>
              <li>
                And congrats! your library will be added to zigistry! (zigistry
                will register your library in an hour).
              </li>
              <li>
                <video
                  controls
                  class="my-5 w-4/5 rounded-2xl sm:w-2/5"
                  src="https://github.com/RohanVashisht1234/zigistry/assets/81112205/962b147c-16ce-44d8-a958-57c0f0e1447b"
                ></video>
              </li>
              <li>
                Still facing issues or have suggestions? feel free to open an
                issue{" "}
                <a
                  class="text-blue-400 underline"
                  href="https://github.com/RohanVashisht1234/zigistry/issues"
                >
                  here
                </a>
                .
              </li>
            </ol>
          </div>
        </div>
        <div
          class="invisible w-full sm:invisible md:invisible lg:visible xl:visible"
        >
          <img class="w-full" src="zigister-finds-repos.svg" />
        </div>
      </div>
      <br />
      <h1 class="mb-4 text-5xl">How to add your Zig program to Zigistry?</h1>
      <div>
        <ol>
          <li>
            The same steps as above but this time the topic would be{" "}
            <strong>Zig</strong> and not Zig-package.
          </li>
        </ol>
      </div>
    </div>
  </div>
  <div class="w-full">
    <img class="w-full" src="zigister-finds-programs.svg" />
  </div>
</RootLayout>
