---

export const prerender = true;

import RootLayout from "../layouts/main.astro";
import IndexComponent from "../components/index";
import items from "../../database/main.json";

const mostUsed = items.slice(0, 10);
const sortedRepos = items
  .slice()
  .sort(
    (a, b) =>
      new Date(b.created_at).getTime() - new Date(a.created_at).getTime()
  );
const top10LatestRepos = sortedRepos.slice(0, 10);
---

<RootLayout>
  <div>
    <IndexComponent mostUsed={mostUsed} top10LatestRepos={top10LatestRepos} client:only />
  </div>
</RootLayout>
