---
export const prerender = true;

import { Image } from "astro:assets";
import RootLayout from "../layouts/main.astro";
import license_chart from "../../public/license_chart.svg";
import programs from "../../public/programs.svg";
---

<RootLayout>
  <div class="mt-5 pl-10 sm:pl-5">
    <div class="readme readmeDiv block">
      <h1>Zigistry Statistics</h1>
      <p class="my_special">Here are some of the statistics that Zigistry found:</p>
      <p class="text-xl sm:text-4xl">Most common licenses used by Zig libraries:</p>
      <div class="flex justify-center">
        <Image
          width={200}
          height={200}
          class="w-3/5"
          alt="Pie chart graph of most common licenses used by Zig libraries."
          src={license_chart}
          loading={"eager"}
        />
      </div>
      <p class="text-xl sm:text-2xl">Average *storage size of Zig libraries: 6898KB or 6.898MB. (2 months ago)</p>
      <p class="text-xl sm:text-2xl">Zigistry has observed a significant size drop of Zig libraries to: 6065KB or 6.065MB. (18th October)</p>

      <p class="text-xl sm:text-4xl">Most common licenses used by Zig programs:</p>
      <div class="flex justify-center">
        <Image
          width={200}
          height={200}
          class="w-3/5"
          alt="Pie chart graph of most common licenses used by Zig programs."
          src={programs}
          loading="lazy"
        />
      </div>
      <p class="text-xl sm:text-2xl">Average *storage size of Zig libraries: 6232KB or 6.232MB. (2 months ago)</p>
      <p class="text-xl sm:text-2xl">Zigistry has observed a significant size drop of Zig programs to: 6036KB or 6.036MB. (18th October)</p>
      <h6>
        * : this includes everything in the repository, from images till src
        code.
      </h6>
    </div>
  </div>
</RootLayout>
