---
import { Image } from "astro:assets";
import RootLayout from "../layouts/main.astro";
---

<RootLayout>
  <div class="readme pl-15 sm:pl-10 pt-10">
    <div class="readmeDiv">
      <h1>Here are some of the statistics that Zigistry found:</h1>
      <h3>Most common licenses used by Zig libraries:</h3>
      <div class="flex justify-center">
        <Image
          width={200}
          height={200}
          class="w-3/5"
          alt="Pie chart graph of most common licenses used by Zig libraries."
          src="/license_chart.svg"
          loading={"eager"}
        />
      </div>
      <h3>Average *storage size of Zig libraries: 6898KB or 6.898MB.</h3>
      <h3>Most common licenses used by Zig programs:</h3>
      <div class="flex justify-center">
        <Image
          width={200}
          height={200}
          class="w-3/5"
          alt="Pie chart graph of most common licenses used by Zig programs."
          src="/programs.svg"
          loading="lazy"
        />
      </div>
      <h3>Average *storage size of Zig programs: 6232KB or 6.232MB.</h3>
      <h6>
        * : this includes everything in the repository, from images till src
        code.
      </h6>
    </div>
  </div>
</RootLayout>
