div.flex.h-full
  div class="w-1/2 bg-white dark:bg-[#2a2a2a]"
    button [
      type="button"
      class="bg-white p-4 hover:bg-[#dadada] dark:bg-[#2a2a2a] hover:dark:bg-[#3a3a3a]"
    ]
      -- Light
  div class="w-1/2"
    button -- ok

style {
  h1 {
    color: white;
  }
}
