div.flex.h-full
  div class="w-1/2 dark:bg-[#2a2a2a] bg-white"
    button [
      type="button"
      class="dark:bg-[#2a2a2a] bg-white p-4 hover:dark:bg-[#3a3a3a] hover:bg-[#dadada]"
    ]
      -- Light
  div class="w-1/2"
    button -- ok

style {
  h1 {
    color: white;
  }
}
