---
import { ThemeModeScript } from "flowbite-react";
import Navigation from "../components/Navigation";
import Foot from "../components/Foot";
import "../styles/globals.css";
import "zilite/dist/darkMode.css"
import { ViewTransitions } from "astro:transitions";
import ProgressBar from 'astro-vtbot/components/ProgressBar.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Zigistry</title>
    <ViewTransitions />
    <ThemeModeScript />
  </head>
  <body class="bg-white dark:bg-[rgb(31,41,55)] dark:text-white">
    <Navigation client:load />
    <ProgressBar />
    <slot />
    <Foot />
    <script is:inline async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
