@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
	min-height: 100vh !important;
	/* background: rgb(31, 41, 55); */
	/* background: linear-gradient(180deg, rgba(31, 41, 55, 1) 0%, rgba(17, 24, 39, 1) 100%); */
}

:root {
	min-height: 100vh !important;
	background: rgb(31, 41, 55);
}

.language-zig {
	color: rgb(255, 207, 84);
}

.comment {
	color: gray;
	font-style: italic;
}

.comment>* {
	color: gray !important;
	font-style: italic;
}

.comment>*>* {
	color: gray !important;
	font-style: italic;
}

.comment>*>*>* {
	color: gray !important;
	font-style: italic;
}

.comment>*>*>*>* {
	color: gray !important;
	font-style: italic;
}

.string {
	color: rgb(22, 217, 22);
	font-style: none !important;
}

.string>* {
	color: rgb(22, 217, 22) !important;
	font-style: none !important;
}

.string>*>* {
	color: rgb(22, 217, 22) !important;
	font-style: none !important;
}

.string>*>*>* {
	color: rgb(22, 217, 22) !important;
	font-style: none !important;
}

.string>*>*>*>* {
	color: rgb(22, 217, 22) !important;
	font-style: none !important;
}

.char {
	color: red;
}

.keyword2 {
	color: rgb(255, 187, 60);
	font-weight: bold;
}

.keyword {
	color: rgb(255, 96, 60);
	font-weight: bold;
}

.boolean {
	color: darkorange;
}

.type {
	color: rgb(57, 192, 255);
}

.comment {
	color: gray;
	font-style: italic;
}

.number {
	color: rgb(85, 147, 255);
}

.function {
	color: rgb(195, 117, 255);
}

.operators {
	color: rgb(84, 226, 226);
}

.readme {
	padding: 50px !important;
}

.readmeDiv {
	all: unset !important;
	font-weight: 700;
	overflow-x: scroll;
}


.readmeDiv>h1 {
	font-size: 40px;
}

.readmeDiv>h2 {
	font-size: 35px;
}

.readmeDiv>h3 {
	font-size: 30px;
}

.readmeDiv>pre {
	padding: 20px !important;
	overflow-x: scroll;
	border-radius: 10px !important;
	border: solid #475569 2px;
}


.readmeDiv>p {
	padding: 5px 5px 5px 0 !important;
}

.readmeDiv a {
	color: lightblue !important;
	text-decoration: underline !important;
	height: fit-content !important;
}

.readmeDiv>table,
th,
td {
	border: 1px solid white !important;
	padding: 5px !important;
}